.output {
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  font-family: "Ubuntu Mono", monospace;
  height: 100%;
  background-color: rgb(197, 197, 197);
  padding: 0.5em;
  font-size: 14px;
  white-space: pre-wrap;
  overflow: auto;
}
